<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educationcertificationsystem.mapper.EduSemesterMapper">

    <resultMap id="BaseResultMap" type="com.educationcertificationsystem.entity.EduSemester">
            <id property="id" column="id" />
            <result property="semesterCode" column="semester_code" />
            <result property="semesterName" column="semester_name" />
            <result property="startDate" column="start_date" />
            <result property="endDate" column="end_date" />
            <result property="activeFlag" column="active_flag" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,semester_code,semester_name,start_date,end_date,active_flag,
        created_at,updated_at,is_deleted,remark
    </sql>
</mapper>
