<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educationcertificationsystem.report.mapper.ReportProgressLogMapper">

    <resultMap id="BaseResultMap" type="com.educationcertificationsystem.model.entity.ReportProgressLog">
            <id property="id" column="id" />
            <result property="projectId" column="project_id" />
            <result property="chapterId" column="chapter_id" />
            <result property="userId" column="user_id" />
            <result property="progressPercent" column="progress_percent" />
            <result property="comment" column="comment" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,chapter_id,user_id,progress_percent,comment,
        created_at,updated_at,is_deleted,remark
    </sql>
</mapper>
