<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educationcertificationsystem.survey.mapper.SurveyQuestionMatrixRowMapper">

    <resultMap id="BaseResultMap" type="com.educationcertificationsystem.model.entity.SurveyQuestionMatrixRow">
            <id property="id" column="id" />
            <result property="questionId" column="question_id" />
            <result property="rowCode" column="row_code" />
            <result property="rowText" column="row_text" />
            <result property="sortNo" column="sort_no" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,question_id,row_code,row_text,sort_no,created_at,
        updated_at,is_deleted,remark
    </sql>
</mapper>
