<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educationcertificationsystem.report.mapper.ReportExportLogMapper">

    <resultMap id="BaseResultMap" type="com.educationcertificationsystem.model.entity.ReportExportLog">
            <id property="id" column="id" />
            <result property="projectId" column="project_id" />
            <result property="exportType" column="export_type" />
            <result property="fileId" column="file_id" />
            <result property="exportedBy" column="exported_by" />
            <result property="exportedAt" column="exported_at" />
            <result property="exportStatus" column="export_status" />
            <result property="errorMessage" column="error_message" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,export_type,file_id,exported_by,exported_at,
        export_status,error_message,created_at,updated_at,is_deleted,
        remark
    </sql>
</mapper>
