<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.educationcertificationsystem.survey.mapper.SurveyResponseMapper">

    <resultMap id="BaseResultMap" type="com.educationcertificationsystem.model.entity.SurveyResponse">
            <id property="id" column="id" />
            <result property="questionnaireId" column="questionnaire_id" />
            <result property="respondentUserId" column="respondent_user_id" />
            <result property="respondentName" column="respondent_name" />
            <result property="respondentType" column="respondent_type" />
            <result property="responseToken" column="response_token" />
            <result property="submitStatus" column="submit_status" />
            <result property="submittedAt" column="submitted_at" />
            <result property="ipAddress" column="ip_address" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="isDeleted" column="is_deleted" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,questionnaire_id,respondent_user_id,respondent_name,respondent_type,response_token,
        submit_status,submitted_at,ip_address,created_at,updated_at,
        is_deleted,remark
    </sql>

    <sql id="Condition_Where">
        where r.is_deleted = 0
          and r.questionnaire_id = #{questionnaireId}
        <if test="respondentType != null and respondentType != ''">
            and r.respondent_type = #{respondentType}
        </if>
        <if test="submitStatus != null and submitStatus != ''">
            and r.submit_status = #{submitStatus}
        </if>
        <if test="keyword != null and keyword != ''">
            and (
                r.respondent_name like concat('%', #{keyword}, '%')
                or r.response_token like concat('%', #{keyword}, '%')
                or r.ip_address like concat('%', #{keyword}, '%')
            )
        </if>
    </sql>

    <select id="countByCondition" resultType="long">
        select count(1)
        from survey_response r
        <include refid="Condition_Where"/>
    </select>

    <select id="selectPageByCondition" resultType="com.educationcertificationsystem.model.vo.survey.SurveyResponsePageVO">
        select r.id,
               r.questionnaire_id as questionnaireId,
               r.respondent_user_id as respondentUserId,
               r.respondent_name as respondentName,
               r.respondent_type as respondentType,
               r.response_token as responseToken,
               r.submit_status as submitStatus,
               r.submitted_at as submittedAt,
               r.ip_address as ipAddress,
               (
                   select count(1)
                   from survey_response_answer a
                   where a.response_id = r.id
                     and a.is_deleted = 0
               ) as answerCount,
               r.remark
        from survey_response r
        <include refid="Condition_Where"/>
        order by r.submitted_at desc, r.id desc
        limit #{offset}, #{size}
    </select>
</mapper>
